.products{
    margin-top: 200px;
    font-family: $fontMain;
    height: 700px;
    &__title{
        font-size: rem-calc(30px);
        letter-spacing: 5px;
        position: absolute;
        left: 35%;
        color: $textColor;
    }
    &__slider{
        width: 100%;
        max-height: 508px;
        margin-top: 80px;
        display: flex;
        justify-content: space-between; 
    }
    &__packages{
        width: 100%;
        min-width: 500px;
        max-height: 508px;
        background-color: #F1F1F1;
        margin: 0px 15px;
    }
}
.pack{
    &__item{
        width: 100%;
        min-width: 500px;
        min-height: 433px;
        background-color: $baseColor;
    }
    &__rate{
        padding-top: 40px;
        display: flex;
        padding-bottom: 25px;
        justify-content: center;
    }
    &__title{
        font-size: rem-calc(18px);
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0 auto;
        display: flex;
        padding-bottom: 25px;
        justify-content: center;
    }
    &__img{
        margin: 0 auto;
    }
    &__bottom{
        display: flex;
        align-items: center;   
        justify-content: space-between;     
    }
    &__btn{
        min-height: 70px;
        min-width: 190px;
        border: none;
        outline: none;
        background-color: $btnColor;
        color: $titleColor;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__price{
        margin-left: 30px;
        font-size: rem-calc(18px);
    }
    &__line{
        background-color: $baseColor;
        @extend .separator;
        &:before{
            width: 45px;
            border-top: 1px solid $baseColor;
          }
        &:after{
          width: 0px;
          height: 0;
          border-top: 0px solid $secondColor;
      }
      margin-left: 15px;
    }
}
.slick-next-one, .slick-prev-one{
    position: absolute;
    font-size: 40px;
    z-index: 9;
    color: $btnColor;
    display: flex;
    margin: 0 auto;
    left: 47%;   
    justify-content: center;
    top: 550px;

}
.slick-next-one{
    margin-right: 100px;
    transform: rotate(180deg);}
.slick-prev-one{
    margin-left: 100px;
    transform: rotate(180deg);
}