@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.home10{
    background-color: #B07CF7;
    max-width: 1500px;
    margin: 0 auto;
}
.wrapper{
    max-width: 1180px;
    min-height: 800px;
    display: flexbox;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-top: 1%;
    padding-bottom: 3%;
    }
    .top{
        display: block;
        max-width: 570px;
        margin: 0 auto;
        color: #ffffff;
        &__h1{
            font-size: 90px;
            font-weight: 500;
            margin-bottom: 0px;
        }
        &__p{
            font-size: 17px;
            font-weight: 100;
        }
       
    }
    
    .pictures{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        margin-bottom: 50px;
        position: relative;
        margin-top: 50px;
        box-sizing: content-box;
        
    }
    @media screen and (max-width: 900px){
        .pictures{
        flex-direction: column;
        margin-top: -50px;
        margin-bottom: -80px;
        transform: scale(0.8);
        }
        .one, .two, .three{
            margin: 5px;
        }
        .top{
            width: 90%;
            margin: 0 auto;
            &__h1{
                font-size: 60px;
            }
        }
        .view{
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 400px){
        .pictures{
        transform: scale(0.6);
        margin-top: -150px;
        margin-bottom: -100px;
        }
        .top{
            width: 90%;
            margin: 0 auto;
            &__h1{
                font-size: 35px;
            }
            &__p{
                font-size: 14px;
            }
        }
    }
    .text{
        width: 320px;
        display: flex;
        flex-direction: column;
        text-align: start;
        font-size: 20px;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: -120px;
    }
    .text h2{
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 0;
    }
    .text p{
        font-size: 13px;
        font-weight: 900;
    }
    .data{
        display: block;
        width: 60px;
        position: absolute;
        margin-top: 100px;
        font-size: 21px;
        font-weight: 700;
        border-radius: 5px;
        margin-top: 20pt;
        margin-left: 20pt;
        padding: 2px;
        background-color: rgb(0,0,0,0.4);

        &__numb{
            font-size: 30px;
        }
    }
   
    .pictures .one:hover,
    .pictures .two:hover,
    .pictures .three:hover{
    transform: scale(1.3) rotate(-15deg);
    }
    .view{
        background-color: #F72B3B;
        color: #ffffff;
        padding: 10px 20px 10px 20px;
    }
    