$mainColor: #666666;
$secondColor: #ffcc00;
$titleColor: #898f8f;
$whiteColor: #ffffff;

$font: Arial, sans-serif;
$baseFontSize: 16px;
$lineHeight: 24px;
$baseFontWeight: 500; 

$fontRoboto: 'Roboto', sans-serif;

